<div>
	<h1>Благодарим за подписку на рассылку сообщений</h1>
</div>
<div>
	<h3>Предоставляем промокод на первый заказ</h3>
</div>
<div>
	<h3>{0}</h3>
</div>

<a href="https://localhost:44368/" style="text-decoration: none; display: block; text-align:center; background-color: black; color: white; box-shadow: 0 5px 0 darkred; padding: 10px 1.5em; font-size: 25px;">Продолжить покупки</a>
