<div>
	<h1>Сведения о заказе</h1>
</div>
<div>
	<h3>Здравстуйте {0}, вы оформили заказ на сумму {1}, а это значит,<br /> что уже совсем скоро мы подтвердим ваш заказ.</h3>
</div>
<div>
	<h3>Сразу после подтвержения заказа мы отложим товары специально для вас. <br/> Обычно мы подтверждаем заказ в теченнии 15 минут и еще 15 минут у нас уйдет на сборку <br /> заказа.</h3>
</div>
<div>
	<h3>Электронная почта: {2}</h3>
</div>
<div> 
	<h3>Телефон: {3}</h3>
</div>
<div> 
	<h3>Город: {4}</h3>
</div>
<div> 
	<h3>Адрес: {5}</h3>
</div>
<div>
	<h1>Состав заказа:</h1>
</div>
<div>
	<h3>{6}</h3>
</div>

<a href="https://localhost:44368/" style="text-decoration: none; display: block; text-align:center; background-color: black; color: white; box-shadow: 0 5px 0 darkred; padding: 10px 1.5em; font-size: 25px;">Продолжить покупки</a>
