@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

@*<h2>Управление учетной записью</h2>*@

<section class="vh-50 mt-10 mb-5" style="background-color: white;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
        <div class="col-md-6 col-lg-5 d-none d-md-block">

              <img src="~/images/product/flat.png" width="415" height="673" 
                alt="login form" style="border-radius: 1rem 0 0 1rem;" />

        </div>
                <div class="col-md-6 col-lg-7 d-flex">
                @RenderBody()
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
