@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Изменение пароля";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<link rel="stylesheet" href="/css/input.css" />
<link rel="stylesheet" href="/css/login.css" />

<partial name="_StatusMessage" for="StatusMessage" />


    <div class="col-md-10 ml-5">
        <div class="d-flex align-items-center mb-4 pb-1 mt-5">
           <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
           <span class="logotor fw-bold mb-0">Tor</span>
        </div>
        <h5 class="login mb-3 pb-3" style="letter-spacing: 1px;">Изменение пароля</h5>
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Input.OldPassword" class="form__input enter" placeholder="Пароль"/>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.NewPassword" class="form__input enter" placeholder="Новый пароль"/>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.ConfirmPassword" class="form__input enter" placeholder="Подтверждение пароля"/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-dark btn-lg btn-block mt-2 cusbtn">Изменить пароль</button>
        </form>

    </div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}