@model Tor.Models.ViewModels.HomeWM

<div class="container">
	<div class="text-center">
		<button class="btn btn-dark filter-button" data-filter="all">Все категории</button>
		@foreach(var obj in Model.Categories)
		{
				<a asp-controller="AllItems" asp-action="@obj.Name" class="btn btn-outline-secondary filter-button">@obj.Translate</a>
		}
	</div>
	<br />
	<div class="row">
		@foreach(var prod in Model.Products)
		{
			<partial name="_IndividualProductCard" model="prod" />
		}
	</div>
</div>


