@model Tor.Models.ViewModels.HomeWM

<div class="container">
	<div class="text-center">
		<a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Все категории</a>
		@foreach(var obj in Model.Categories)
		{
			if(obj.Name == "TShirt")
			{
				<a asp-controller="AllItems" asp-action="@obj.Name" class="btn btn-dark btn-outline-secondary">@obj.Translate</a>
			}
			else
			{
				<a asp-controller="AllItems" asp-action="@obj.Name" class="btn btn-outline-secondary">@obj.Translate</a>	
			}
		}
	</div>
	<br />
	<div class="row">
		@foreach(var prod in Model.Products)
		{
			<partial name="_IndividualProductCard" model="prod" />
		}
	</div>
</div>


