<link rel="stylesheet" href="/css/cart.css" />

<section class="vh-50 mt-10 ml-100">
	<div class="card">
            <div class="row">
                
                <div class="col-md-12 summary" style="border-radius: 10px;">
                    <h3 style="text-align:center">Ваш заказ подтвержен!</h3> 
                    <hr>
                        <a class="btn btn-dark btn-block btn-lg" style="font-size:14px" asp-action="OrderListIndex" asp-controller="Order">Просмотреть заказ</a>
                        <br/>
						<a class="btn btn-dark btn-block btn-lg" style="font-size:14px" asp-action="Index" asp-controller="Home">Посмотреть что-нибудь еще</a>
                </div>
            </div>
        </div>
</section>
