.form__input {
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #bbbbbb;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
}
    .form__input:focus {
        border-bottom: 1px solid #1a73a8;
    }
input {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 15px;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

    input:focus::-webkit-input-placeholder {
        color: transparent;
    }
