@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Thin'), local('Helvetica-Neue-Thin'), url('/fonts/HelveticaNeueCyr-Thin.woff2') format('woff2'), url('/fonts/HelveticaNeueCyr-Thin.woff') format('woff'), url('/fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'proximanova_regular';
    src: local('proximanova_regular'), local('proximanova_regular'), url('/fonts/proximanova_regular.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

.brand {
    font-size: 16px;
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: 'Helvetica Neue';
    letter-spacing: 0.9px;
    text-transform: uppercase;
}
.desc {
    font-size: 10px;
    color: gray;
    text-align: center;
    margin-bottom: -10px;
    font-family: 'Helvetica Neue';
    letter-spacing: 0.9px;
    font-weight: bold;
}

.price {
    font-size: 14px;
    color: black;
    text-align: center;
    margin-top: 5px;
    font-family: 'Helvetica Neue';
    letter-spacing: 0.3px;
    font-weight: bold;

}
